{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h3>Edit student</h3>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Edit">
        <input formaction="{% url 'students:delete' student.uu_id %}" type="submit" value="Delete">
    </form>
{% endblock %}