{% extends 'base.html' %}


{% block header %}
    <h3>Students</h3>
{% endblock %}

{% block content %}
    <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">First name</span>
          </div>
          <input name="first_name" type="text" class="form-control" placeholder="Enter first name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">Last name</span>
          </div>
          <input name="Last_name" type="text" class="form-control" placeholder="Enter last name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Rating</span>
          </div>
          <input name="rating" type="number" class="form-control" placeholder="Enter rating" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      <input type="submit" value="Search">
      <input formaction="{% url 'students:create' %}" type="submit" value="Create">

    </form>

    {% include 'includes/students-table.html' %}

    {% include 'includes/paginator.html' %}


{% endblock %}