{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h2>Edit group</h2>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Save">
        <input formaction="{% url 'groups:delete' group.uu_id %}" type="submit" value="Delete">
    </form>

    {% include 'includes/students-table.html' %}

{% endblock %}
