{% extends 'base.html' %}


{% block header %}
    <h2>Groups</h2>
{% endblock %}


{% block content %}
    <form>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Gruop name</span>
            </div>
          <input name="name" type="text" class="form-control" placeholder="Enter group name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      <input type="submit" value="Search">
      <input formaction="{% url 'groups:create' %}" type="submit" value="Create">




    </form>

    {% include 'includes/groups-table.html' %}

    {% include 'includes/paginator.html' %}

{% endblock %}
