<table class="table table-bordered">
      <tr>
        <th>Edit</th>
        <th>Group name</th>
        <th>Group teacher</th>
        <th>Group curator</th>
        <th>Group leader</th>
      </tr>
      <tr>
        {% for group in groups %}
            <td><a href="{% url 'groups:edit' group.uu_id %}">EDIT</a></td>
            <td>{{ group.name }}</td>
            <td>{{ group.teacher }}</td>
            <td>{{ group.curator }}</td>
            <td>{{ group.leader }}</td>
      </tr>
        {% endfor %}
</table>