
<nav aria-label="Page navigation example">
  <ul class="pagination mb-5">

      {% if page_obj.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
        {% endif %}

      <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
    </li>

      {% if page_obj.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
        {% endif %}
  </ul>
</nav>