{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h3>Login as user</h3>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Login">
    </form>

{% endblock %}