{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h3>Profile</h3>
{% endblock %}



{% block content %}
    <form method="post" enctype="multipart/form-data">
        <img src="{{ user.profile.image.url }}">
        {% csrf_token %}
        {{ user_form|crispy }}
        {{ profile_form|crispy }}

        <input type="submit" value="Save">
    </form>

{% endblock %}