{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    <h3>Edit teacher</h3>
{% endblock %}


{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <input type="submit" value="Edit">
        <input formaction="{% url 'teachers:delete' teacher.uu_id%}" type="submit" value="Delete">
    </form>

    {% include 'includes/groups-table.html' %}

{% endblock %}
