{% extends 'base.html' %}


{% block header %}
    <h3>Teachers</h3>
{% endblock %}


{% block content %}
    <form>
<div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">First name</span>
          </div>
          <input name="first_name" type="text" class="form-control" placeholder="Enter first name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon2">Last name</span>
          </div>
          <input name="Last_name" type="text" class="form-control" placeholder="Enter last name" aria-label="Username" aria-describedby="basic-addon1">
        </div>

      <input type="submit" value="Search">
      <input formaction="{% url 'teachers:create' %}" type="submit" value="Create">
    </form>

    <table class="table table-bordered">
          <tr>
            <th>Edit</th>
            <th>First name</th>
            <th>Last name</th>
          </tr>
        {% for teacher in teachers %}
            <tr>
                <td><a href="{% url 'teachers:edit' teacher.uu_id %}">EDIT</a></td>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
            </tr>
        {% endfor %}
    </table>

    {% include 'includes/paginator.html' %}

{% endblock %}