<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Title</title>
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
          crossorigin="anonymous">
</head>


<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
      <a class="navbar-brand" href="{% url 'core:index' %}">LMS</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'students:list' %}">Students<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'groups:list' %}">Groups</a>
          </li>

          <li class="nav-item active">
            <a class="nav-link" href="{% url 'teachers:list' %}" >Teachers</a>
          </li>
        </ul>


        <ul class="navbar-nav">
            {% if user.is_authenticated %}
                <img src="{{ user.profile.image.url }}" width="40" height="40">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:profile' %}">Profile ({{ user.username }})</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:logout' %}">Logout</a>
                </li>
            {% else %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:register' %}">Registration</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
                </li>
            {% endif %}
        </ul>
      </div>
  </div>
</nav>

<div class="container">

    {% include 'includes/messages.html' %}

    <div class="border rounded text-center p-3 m-3 bg_light shadow">
        {% block header %}
            <h2>Welcome to LMS</h2>
        {% endblock %}
    </div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>