<table class="table table-bordered">
          <tr>
            <th>Edit</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Rating</th>
            <th>Phone number</th>
            <th>Group</th>
          </tr>
    {% for student in students %}
        <tr>
            <td><a href="{% url 'students:edit' student.uu_id %}">EDIT</a></td>
            <td>{{ student.first_name }}</td>
            <td>{{ student.last_name }}</td>
            <td>{{ student.rating }}</td>
            <td>{{ student.phone_number }}</td>
            <td>{{ student.group.name }}</td>
        </tr>
    {% endfor %}
</table>